// theme colors
$primary: #ffffff !default;
$secondary: #F0F0F0 !default;
$black: #000000 !default;
$grey: #5E5E5E !default;
$greyhover: #363636 !default;
$error: #d32752 !default;
$info: #f6c31c !default;
$expotext: #419A95 !default;
$expoline2: #b9fa47 !default;
$expoline3: #b1339b !default;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

//font
$mainfont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;